# Xcode - ユーザー固有の設定
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# ビルド成果物
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
.swiftpm/

# macOS
.DS_Store
